
@media screen and (min-width: 1200px) {
    /*#social_icons_header {
		position: relative;
		top: -32px;
		left: 310%;
	}
	*/
}


@media screen and (min-device-width: 768px) and (max-device-width: 1199px) { 
  
}


@media screen and (max-width: 768px) {
    
    .navbar-nav>li>a {
        margin-right:4px !important;
    }

    section#lead_text {
    	padding: 20px 0;
    }

    section#team {
 		 padding:20px 0;
	}

	.navbar-toggle {
		margin-top: 13px;
	}
	.home_blog_post {
		margin-bottom: 40px;
	}

	.icons a {
	  text-align: right;
	  line-height: 60px;
	  letter-spacing: 7px;
}


}

@media screen and (min-width: 768px) {
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
		  margin-top:5px;
		  padding-top:5px;
		  padding-bottom:10px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-top: -5px;

	}
	
}

